<div class="">
  <p>
    <h3>Name:</h3>
    <%= @user.name %>
  </p>
</div>

<div class="">
  <p>
    <h3>Height:</h3>
    <%= @user.height %>
  </p>
</div>

<div class="">
  <p>
    <h3>Happiness:</h3>
    <%= @user.happiness %>
  </p>
</div>

<div class="">
  <p>
    <h3>Nausea:</h3>
    <%= @user.nausea %>
  </p>
</div>

<div class="">
  <p>
    <h3>Tickets:</h3>
    <%= @user.tickets %>
  </p>
</div>

<div class="">
  <p>
    <h3>Mood:</h3>
    <%= @user.mood %>
  </p>
</div>

<div class="">
  <p>
    <%= show_admin?(@user) %>
  </p>
</div>
