<div class="">
  <p>
    <h3>Name:</h3>
    <%= @attraction.name %>
  </p>
</div>

<div class="">
  <p>
    <h3>Minimum Height:</h3>
    <%= @attraction.min_height %>
  </p>
</div>

<div class="">
  <p>
    <h3>Happiness Rating:</h3>
    <%= @attraction.happiness_rating %>
  </p>
</div>

<div class="">
  <p>
    <h3>Nausea Rating:</h3>
    <%= @attraction.nausea_rating %>
  </p>
</div>

<div class="">
  <p>
    <h3>Tickets:</h3>
    <%= @attraction.tickets %>
  </p>
</div>
